.Data {

}

.Square {
    background-color: red;
    font-size: 15px;
    overflow: hidden;
    float: left;
    margin:5pt;
    margin-top: 20px;
    margin-left: 15pt;
    width:170pt;
    height:auto;
    box-shadow: 10px 10px 10px #000;
}